// COLOR VARIABLES
$color-white: white;
$color-black: black;
$color-light-grey: rgb(190, 190, 190);

$color-light-bg: rgba(249,249,249,1);
$color-dark-bg: rgba(35,35,35,1);
$color-pink: rgba(255,139,164,1);



$color-greyblue: rgba(100, 120, 138, 1);
$color-navy-dark: rgba(41, 48, 55, 1);


// FONT VARIABLES
$font-primary: 'Katibeh', cursive;
$font-secondary: 'Almarai', sans-serif;
$font-tertiary: 'Roboto', sans-serif;

$content-grid: 10% repeat(4, 1fr) 10%;
$content-grid-big: 20% repeat(4, 1fr) 20%;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

}

body {
    font-family: $font-tertiary;
    font-weight: 300;
    color: $color-black;
}

.container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(autofill, 1fr);
    grid-template-columns: repeat(6, 1fr);

}

::-moz-selection {
    color:white;
    background: $color-pink;
  }
  
::selection {
    color: white;
    background: $color-pink;
  }