.casestudy {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}
.casestudy {
    
    &__section-light {
    position: relative;
    display: grid;
    grid-template-columns: $content-grid;
    @media screen and (min-width: 900px) {
        grid-template-columns: $content-grid-big;
    }

    background-color: $color-light-bg;
    color: $color-dark-bg;
    }

    &__section-dark {
        position: relative;
        display: grid;
        grid-template-columns: $content-grid;
        @media screen and (min-width: 900px) {
            grid-template-columns: $content-grid-big;
        }
    
        background-color: $color-dark-bg;
        color: $color-light-bg;
        }

    
    &__content {
        grid-column: 2 / -2;
        padding: 5rem 0 10rem;
    }

    &__heading-1 {
        font-family: $font-primary;
        font-size: 5rem;
        font-weight: 400;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    &__subheading {
        font-family: $font-primary;
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    &__text {
        font-size: 1.8rem;
        letter-spacing: .05rem;
        line-height: 3rem;
        font-weight: 300;
    }


    &__img {
        width: 100%
    }

    &__img-small {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    &__section-row {
        display: block;
        align-items: center;

        @media screen and (min-width: 900px) {
            display: flex;
            align-items: center;
        }
        
    }

    &__img-flex {
        width: 100%;
        @media screen and (min-width: 900px) {
            width: 45%;
        }
    }

    &__link {
        color: $color-pink;
    }
}