//fraise case study

.casestudy h1 {
    margin: 0;
    text-transform: capitalize;
    color: rgb(230, 77, 128);
}

.casestudy h2 {
    margin-top: 4rem;
    text-transform: capitalize;
    color: rgb(230, 77, 128);
}

.casestudy p {
    line-height: 1.6;
    margin: 1rem 0 1rem 0;
}

.casestudy li {
    line-height: 1.6;
}


.casestudy img {
    margin: 1em 0 1em 0;
    width: 100%;
}

.casestudy-img {
    margin: 1em 0 1em 0;
    width: 100%;
}

.center-text {
    text-align: center;
}

.margin-bottom-med {
    margin-bottom: 5em;
}

.limit-width {
    max-width: 70%;
    overflow: hidden;
}

.row {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.column-2 {
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    margin-right: 2.5em;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 2em; }

.row .col-1-of-3 {
    width: calc((100% - 2 * 3em) / 3); 
}

.fullwidth {
    width: 100%;
}

.fraise {
    color: $color-fraise;
}
.pink {
    color: $color-fraise;
    border: 1px solid $color-fraise;
}

.blue{
    color: $color-blue !important; 
}

//new casestudy code

.casestudy {
    grid-row: 1 / -1;
    grid-column: 3 / 7;
    padding: 8rem 8rem;
    font-size: 1.5rem;
    background-color: $color-grey-bg;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: $bp-medium) {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 3rem;
    }

    &__subheading {
        color: $color-black;
        font-size: 1.8rem;
        font-weight: 500;
        text-decoration: underline;
        margin-top: 3rem;
    }
}