.btn-pink {
    background-color: $color-pink;
    font-family: $font-primary;
    color: $color-dark-bg;
    padding:0rem 1.5rem 1rem 1.5rem;
    // padding: 1rem;
    text-decoration: none;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.btn-pink:hover {
    background-color: $color-white;
    color: $color-pink;
}

.btn-dark {
    background-color: $color-dark-bg;
    font-family: $font-primary;
    color: $color-pink;
    padding:0rem 1.5rem 1rem 1.5rem;
    // padding: 1rem;
    text-decoration: none;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.btn-dark:hover {
    background-color: $color-pink;
    color: $color-dark-bg;
}

.videoContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }

.overview{
    display: flex;
    &__icon {
        width: 2.5rem;
        margin-right: 1rem;
    }
    &__details {
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        margin-right: 2rem;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row__section {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 1000px) {
        width: 30%;
    }
}

.row__section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 1000px) {
        width: 47%;
    }
}

.row__img {
    width: 100%;
}

.row__label {
    font-family: $font-primary;
    text-align: center;
    font-size: 3rem;

    @media screen and (min-width: 1000px) {
        font-size: 2.5rem;
    }
}

.iframe-center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.section {
    opacity: 1;
    transition: opacity 2s ease;
    transform: translateY(0px);
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.fade-in {
    animation: fadeIn ease-in 1s;
  }

  @keyframes fadeIn {
    0% {opacity:0;
        transform: translateY(10px);}
    100% {opacity:1;
        transform: translateY(0px)}
  }