.footer {
    grid-row: 4 / 5;
    grid-column: 1 / -1;

    position: relative;
    display: grid;
    grid-template-columns: $content-grid;
    @media screen and (min-width: 900px) {
        grid-template-columns: $content-grid-big;
    }

    background-color: $color-dark-bg;
    color: $color-white;

    &__content {
        grid-column: 2 / -2;
        padding: 3rem 0 5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__email {
        font-size: 1.6rem;
        color: $color-white;
        text-decoration: none;
        font-weight: 300;

        &:hover {
            color: $color-pink;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
    }
}

.icon {
    width: 3rem;
    color: $color-white;
    fill: $color-white;
    margin-right: 2rem;
}

.icon:hover {
    fill: $color-pink;
}