.intro {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    position: relative;
    display: grid;
    grid-template-columns: $content-grid;
    @media screen and (min-width: 900px) {
        grid-template-columns: $content-grid-big;
    }

    background-color: $color-dark-bg;
    color: $color-white;

    &__content {
        grid-column: 2 / -2;
        padding: 12rem 0 12rem;
    }

    &__name {
        font-family: $font-primary;
        font-size: 7.45rem;
        font-weight: 400;

        @media screen and (min-width: 900px) {
            font-size: 8rem;
        }
    }

    &__title {
        font-size: 4rem;
        color: $color-pink;
        font-weight: 300;
        letter-spacing: .44rem;
        margin-top: -7px;
        // margin-bottom: 5rem;
    }

    &__text {
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: .05rem;
    }

    &__burger {
        position: absolute;
        top: 5rem;
        font-size: 5rem;
        cursor: pointer;

    }

    .intro__nav label, #hamburger {
        display: none;
      }
    
    .intro__nav label {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        color: $color-white;
        font-style: normal;
        font-size: 3.5em;
        padding: 2rem;
    
      }
    
      .intro__nav ul li {
        display: block;
        text-align: center;
        margin: 1em 1em 1em 1em;
        text-decoration: none;
      }
    
      /* Toggle show/hide menu on checkbox click */
      .intro__nav ul {
          margin-top: 2rem;
          margin-left: 1rem;
        display: none;
        font-size: 1.6rem;
        animation: transitionOut .5s;
    
        @media only screen and (max-width: $bp-small) {
            margin-top: 0rem;
            margin-left: 0rem;
        }
      }
    
      .intro__nav input:checked ~ ul {
        display: none;
        background-color: $color-pink;
        animation: slideIn 1s;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.26);
      }



      @keyframes transitionOut {
    from {
        opacity:1;
        transform: rotateX(0);
    }
    to {
        opacity: 0;
        transform: rotateX(-10deg);
    }
}


@keyframes slideIn {
    from {
        opacity:0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

}

    
