.projects {
    grid-row: 1 / -1;
    grid-column: 3 / 7;


    background-color: $color-grey-bg;
    display: grid;
    grid-template-rows: repeat(5, 50vh);
    justify-items: center;
    align-items: center;
    

    // display: flex;
    // flex-direction: column;
    // align-items: center;

    @media only screen and (max-width: $bp-medium) {
        grid-row: 2 / -1;
        grid-column: 1 / -1;

        grid-template-rows: repeat(5, 40vh);
    }
}

.project {
    width: 65%;
    box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: .8rem .8rem .8rem .8rem;

    @media only screen and (max-width: $bp-medium) {
        width: 90%;
    }
    @media only screen and (max-width: $bp-small) {
        width: 95%;
    }


    &__content {
        position: relative;
    }

    &__text {
        position: absolute;
        margin-left: 50%;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        color: $color-white;
        padding-right: 2.5rem;

        @media only screen and (max-width: $bp-medium) {
            margin-left: 50%;
        }
    
    }

    &__title {
        font-weight: 600;
        font-size: 2.4rem;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
    }

    &__sub {
        font-weight: 200;
        font-size: 1.2rem;
        margin-bottom: 4rem;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 3rem;
        }
    }

    &__img {
        max-width: 100%;
        border-radius: .8rem .8rem 0 0;
    }

    &__bottom {
        background-color: white;
        padding: 1.5rem;

        display: flex;
        align-items: center;
        border-radius: 0 0 .8rem .8rem;
    }

    &__tags {
        color: $color-greyblue;
        font-size: 1.2rem;
    }

    &__button {
        color: $color-white;
        text-decoration: none;
        background-color: $color-navy-dark;
        padding: 1rem 2rem;
        border-radius: 2rem;
        border: 1px solid $color-white;
        font-size: 1.2rem;


    }
}

#tag-icon {
    height: 1.5rem;
    margin-right: .5rem;
    opacity: 50%;
}

.project:hover {
    transform: scale(1.05);
    transition: transform .75s;
}

.project__button:hover {
    color: $color-black;
    background-color: $color-white;
}