
.mgbtm-small {
    margin-bottom: 1rem;
}

.mgbtm-med {
    margin-bottom: 2.5rem;
}

.mgbtm-big {
    margin-bottom: 5rem;
}


.mgtop-big {
    margin-top: 5rem;
}

.mgtop-small {
    margin-top: 1rem;
}

.mgtop-med {
    margin-top: 2.5rem;
}