*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
}

.container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[autofill];
      grid-template-rows: repeat(autofill, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.mgbtm-small {
  margin-bottom: 1rem;
}

.mgbtm-med {
  margin-bottom: 2.5rem;
}

.mgbtm-big {
  margin-bottom: 5rem;
}

.mgtop-big {
  margin-top: 5rem;
}

.mgtop-small {
  margin-top: 1rem;
}

.mgtop-med {
  margin-top: 2.5rem;
}

ul {
  margin-left: 5rem;
}

.pdlft-small {
  padding-left: 4rem;
}

.text-center {
  text-align: center;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[4] 10%;
      grid-template-columns: 10% repeat(4, 1fr) 10%;
  background-color: #232323;
  color: #ff8ba4;
}

@media screen and (min-width: 900px) {
  .nav {
    -ms-grid-columns: 20% (1fr)[4] 20%;
        grid-template-columns: 20% repeat(4, 1fr) 20%;
  }
}

.nav__content {
  grid-column: 2 / -2;
  padding: 1.5rem 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav__logo {
  text-decoration: none;
  color: #ff8ba4;
  font-size: 3rem;
  font-family: "Katibeh", cursive;
}

.nav__logo:hover {
  color: white;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem;
  margin-left: .2rem;
  color: #ff8ba4;
  letter-spacing: .07rem;
}

.nav__link:hover {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem;
  color: white;
}

.intro {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[4] 10%;
      grid-template-columns: 10% repeat(4, 1fr) 10%;
  background-color: #232323;
  color: white;
  /* Toggle show/hide menu on checkbox click */
}

@media screen and (min-width: 900px) {
  .intro {
    -ms-grid-columns: 20% (1fr)[4] 20%;
        grid-template-columns: 20% repeat(4, 1fr) 20%;
  }
}

.intro__content {
  grid-column: 2 / -2;
  padding: 15rem 0 13rem;
}

.intro__name {
  font-family: "Katibeh", cursive;
  font-size: 8rem;
  font-weight: 400;
}

.intro__title {
  font-size: 2.25rem;
  color: #ff8ba4;
  font-weight: 300;
  letter-spacing: .05rem;
}

.intro__text {
  font-size: 1.6rem;
  line-height: 18.5px;
  letter-spacing: .05rem;
}

.intro__burger {
  position: absolute;
  top: 5rem;
  font-size: 5rem;
  cursor: pointer;
}

.intro .intro__nav label, .intro #hamburger {
  display: none;
}

.intro .intro__nav label {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
  font-style: normal;
  font-size: 3.5em;
  padding: 2rem;
}

.intro .intro__nav ul li {
  display: block;
  text-align: center;
  margin: 1em 1em 1em 1em;
  text-decoration: none;
}

.intro .intro__nav ul {
  margin-top: 2rem;
  margin-left: 1rem;
  display: none;
  font-size: 1.6rem;
  -webkit-animation: transitionOut .5s;
          animation: transitionOut .5s;
}

@media only screen and (max-width: 37.5em) {
  .intro .intro__nav ul {
    margin-top: 0rem;
    margin-left: 0rem;
  }
}

.intro .intro__nav input:checked ~ ul {
  display: none;
  background-color: #ff8ba4;
  -webkit-animation: slideIn 1s;
          animation: slideIn 1s;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.26);
}

@-webkit-keyframes transitionOut {
  from {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.projects {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.project {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[4] 10%;
      grid-template-columns: 10% repeat(4, 1fr) 10%;
  background-color: #f9f9f9;
  color: black;
}

@media screen and (min-width: 900px) {
  .project {
    -ms-grid-columns: 20% (1fr)[4] 20%;
        grid-template-columns: 20% repeat(4, 1fr) 20%;
  }
}

.project__content {
  grid-column: 2 / -2;
  padding: 7rem 0 10rem;
}

.project__name {
  font-family: "Katibeh", cursive;
  font-size: 8rem;
  font-weight: 400;
}

.project__title {
  font-size: 2.25rem;
  color: #ff8ba4;
  font-weight: 300;
  letter-spacing: .05rem;
}

.project__img {
  width: 100%;
}

.project__text {
  font-size: 1.6rem;
  line-height: 18.5px;
  letter-spacing: .05rem;
}

.projectdark {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[4] 10%;
      grid-template-columns: 10% repeat(4, 1fr) 10%;
  background-color: #232323;
  color: white;
}

@media screen and (min-width: 900px) {
  .projectdark {
    -ms-grid-columns: 20% (1fr)[4] 20%;
        grid-template-columns: 20% repeat(4, 1fr) 20%;
  }
}

.projectdark__content {
  grid-column: 2 / -2;
  padding: 7rem 0 10rem;
}

.projectdark__name {
  font-family: "Katibeh", cursive;
  font-size: 8rem;
  font-weight: 400;
}

.projectdark__title {
  font-size: 2.25rem;
  color: #ff8ba4;
  font-weight: 300;
  letter-spacing: .05rem;
}

.projectdark__img {
  width: 100%;
}

.projectdark__text {
  font-size: 1.6rem;
  line-height: 18.5px;
  letter-spacing: .05rem;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[4] 10%;
      grid-template-columns: 10% repeat(4, 1fr) 10%;
  background-color: #232323;
  color: #ff8ba4;
}

@media screen and (min-width: 900px) {
  .footer {
    -ms-grid-columns: 20% (1fr)[4] 20%;
        grid-template-columns: 20% repeat(4, 1fr) 20%;
  }
}

.footer__content {
  grid-column: 2 / -2;
  padding: 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__email {
  font-size: 1.6rem;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 3rem;
  margin-right: 2rem;
}

.casestudy {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.casestudy__section-light {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[4] 10%;
      grid-template-columns: 10% repeat(4, 1fr) 10%;
  background-color: #f9f9f9;
  color: #232323;
}

@media screen and (min-width: 900px) {
  .casestudy__section-light {
    -ms-grid-columns: 20% (1fr)[4] 20%;
        grid-template-columns: 20% repeat(4, 1fr) 20%;
  }
}

.casestudy__section-dark {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[4] 10%;
      grid-template-columns: 10% repeat(4, 1fr) 10%;
  background-color: #232323;
  color: #f9f9f9;
}

@media screen and (min-width: 900px) {
  .casestudy__section-dark {
    -ms-grid-columns: 20% (1fr)[4] 20%;
        grid-template-columns: 20% repeat(4, 1fr) 20%;
  }
}

.casestudy__content {
  grid-column: 2 / -2;
  padding: 5rem 0 10rem;
}

.casestudy__heading-1 {
  font-family: "Katibeh", cursive;
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.casestudy__subheading {
  font-family: "Katibeh", cursive;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.casestudy__text {
  font-size: 1.8rem;
  letter-spacing: .05rem;
  line-height: 3rem;
  font-weight: 300;
}

.casestudy__img {
  width: 100%;
}

.casestudy__img-small {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.casestudy__section-row {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  .casestudy__section-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.casestudy__img-flex {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .casestudy__img-flex {
    width: 45%;
  }
}

.casestudy__link {
  color: #ff8ba4;
}

.btn-pink {
  background-color: #ff8ba4;
  font-family: "Katibeh", cursive;
  color: #232323;
  padding: 0rem 1.5rem 1rem 1.5rem;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.btn-dark {
  background-color: #232323;
  font-family: "Katibeh", cursive;
  color: #ff8ba4;
  padding: 0rem 1.5rem 1rem 1.5rem;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__icon {
  width: 2.5rem;
  margin-right: 1rem;
}

.overview__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .row__section {
    width: 30%;
  }
}

.row__section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .row__section-2 {
    width: 47%;
  }
}

.row__img {
  width: 100%;
}

.row__label {
  font-family: "Katibeh", cursive;
  text-align: center;
  font-size: 3rem;
}

@media screen and (min-width: 1000px) {
  .row__label {
    font-size: 2.5rem;
  }
}

.iframe-center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */