body {
    margin: 0;
    background-color: rgb(241, 241, 241);
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.about {
    display: flex;
}

.intro {
    padding-top: 23%;
    width: 33%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.intro h1 {
    margin: .25em;
}

.intro h2 {
    margin-bottom: 3em;
    font-size: 18px;
}

.projects {
    width: 67%;
    height: 100%;
    background-color: rgb(241, 241, 241);
    padding-top: 3em;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 33%;

}

.project {
    padding-left: 23%;
    padding-bottom: 2em;
}

.proj_title {
    display: inline-block;
    font-weight: 900;
}

.proj_sub {
    display: inline-block;
    margin-left: .5em;
    color: grey;
    font-size: 18px;
}

.proj_img {
    display: block;
    height: 350px;
    width: 600px;
}

.readbutton {
    background-color: grey;
    text-decoration: none;
    color: white;
    padding: .4em;
    display: inline-block;
    margin-left: 9.5em;
    border-radius: 10%;
}

.tags {
    color: grey;
    display: inline-flex;
}