body {
    margin: 0;
    background-color: rgb(245, 245, 245);
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: blue;
}

footer {
    padding-top: 6em;
}

.about {
    display: flex;
}

.intro {
    padding-top: 18%;
    width: 33%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.intro h1 {
    margin: .1em;
}

.intro h2 {
    margin-top: .1em;
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: 400;
}

.intro p {
    margin: 1em 3em 3em 3em;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
    border-color: grey;
    text-align: left;
    border-radius: 5px;
    font-size: 15px;
}

.projects {
    animation: transitionIn 1s;
    width: 67%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    position: relative;
    top: 0;
    right: 0;
    margin-left: 33%;

}

.project {
    padding-left: 20%;
    padding-top: 6em;
}

.proj_title {
    animation: transitionIn 1.5s;
    display: inline-block;
    font-weight: 900;
    margin-bottom: .3em;
}

.proj_sub {
    animation: transitionIn 1.5s;
    display: inline-block;
    margin-left: .5em;
    margin-bottom: .3em;
    font-size: 18px;
    font-weight: 400;
}

.proj_img {
    animation: transitionIn 0.75s;
    display: block;
    height: 350px;
    width: 600px;
}

.readbutton {
    animation: transitionIn 1.5s;
    background-color:grey;
    text-decoration: none;
    color: white;
    padding: .4em;
    display: inline-block;
    margin-left: 10em;
    border-radius: 5%;
    font-weight: 400;
}

.tags {
    font-weight: 400;
    display: inline-flex;
    animation: transitionIn 1.5s;
}

/* about me page */

.about {
    justify-content: center;
    margin: 10em auto;
}

.aboutme {
    background-color: white;
    padding: 1.5em;
    width: 40%;
    display: inline-block;

}

.about_img {
    display: inline-block;
    height: 30em;
    width: 20em;
    border-color: white;
    border-style: solid;
    border-width: 1em;
}

/* graphics */

.graphics_display {
    width: 50%;
    justify-content: center;
    margin: 5em auto;
    display: inline-block;
}

/* case study */

.casestudy {
    margin: 3em 25%;
}

/* animations */
@keyframes transitionIn {
    from {
        opacity:0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}